@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700,900&display=swap');

@font-face {
  font-family: 'Raleway';
  src: url('https://fonts.googleapis.com/css?family=Raleway:400,600,700,900&display=swap');
}

body {
  background-attachment: fixed;
  background-image: url('../images/wood_bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Raleway', sans-serif !important;
  margin: 0;
  padding-top: 100px;
}

.button-back {
  svg {
    margin-left: 6px;
  }
}

.alert {
  margin: 30px;
}

.carousel {
  transition: opacity 1s ease-in-out;
}

// Fires as soon as the element enters the DOM
.carousel-transition-enter,
.carousel-transition-appear {
  opacity: 0;
}

// Add the new values that will be transitioned to
// when the timeout prop value expires (set to 250ms)
.carousel-transition-enter-done,
.carousel-transition-appear-done {
  opacity: 1;
}

// This fires when a condition causes an unmount
.carousel-transition-exit {
  opacity: 1;
}

// fires as element leaves the DOM
.carousel-transition-exit-active {
  opacity: 0;
  transition: opacity 1s;
}

.carouselText {
  color: red
}
